body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
}

button {
    font-family: inherit;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

img {
    display: block; 
    max-width: 100%; 
    height: auto;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
}

.main-link {
    padding: 24px 0;
    margin-right: 76px;
}

.accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.accent-studio {
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}

.nav-list-link:hover, 
.nav-list-link:focus {
    color: #404BBF;
}

.page-address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding: 24px 0;
}

.address-list-link:hover, 
.address-list-link:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
    max-width: 496px;
    width: 100%;
}

.hero-title-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    min-width: 169px;
    border: none;
}

.hero-title-button:hover, 
.hero-title-button:focus {
    background-color: #404BBF;
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.features-item {
    width: calc((100% - 24px * 3) / 4);
}

.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 24px * 3) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-content {
    padding: 32px 16px;
    text-align: center;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 24px * 2) / 3);
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-border {
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.container-footer {
    text-align: left;
    margin-left: 0;
    width: 100%;
}

.accent-studio-footer {
    color: #F4F4FD;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.page-footer-text {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
    width: 264px;
}